<table>
  <tr>
    <th>Name</th>
    <th>TreeoCount</th>
    <th>Goal</th>
  </tr>
  <% @data.each_with_index do |(name, count), idx| %>
    <tr>
      <td>
        <%= name %>
      </td>
      <td>
        <%= count %>
      </td>
      <td>
        <%= @goals[idx]  %>
      </td>
    </tr>
  <% end %>
</table>